* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(6, 39, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    margin: 10px;
}

.redes {
    margin: 10px;
}


/* header */

.header {
    background-image: url(https://dummyimage.com/600x400/000/fff);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
    text-align: center;
}

.card {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.card h5 {
    margin: 5px 0px;
    font-size: 18px;
}

.card p {
    margin: 5px 0px;
}

.card img {
    width: 80%;
    margin: 5px;
}

.card button {
    background-color: rgb(6, 39, 202);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* footer */

.footer {
    background-color: rgb(6, 39, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h4 {
    color: white;
    padding: 10px;
}